h1 {
  color: green;
  height: auto;
  width: auto;
  justify-content: center;
  display: flex;
}

#mittig {
  justify-content: center;
  display: flex;
}

#contactForm {
  font-weight: bold;
}

h2 {
  color: blue;
  height: auto;
  width: auto;
  justify-content: center;
  display: flex;
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#info {
  font-weight: bold;
  color: darkviolet;
}

.carousel-img {
  height: 750px;
  width: 1000px;
  object-fit: cover;
}

body {
  background-color: lightgrey;
  padding-top: 0;
}

p {
  color: black;
  font-weight: bold;
}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  border: none;
  /* Remove borders */
  background-color: red;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

#size {
  size: 200px;
}